/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

/* .landingSection {
    width: 1920px;
    height: 800px;
    object-fit: cover;
    z-index: 10;
} */

.landingSection {
    object-fit: cover;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 800px;
}



